MONGO_URL=mongodb://user:root@localhost:27017/simple-chat?authSource=admin
PORT=3000
JWT_SECRET=access-token-secret
JWT_EXPIRES_IN=1h
JWT_REFRESH_TOKEN_SECRET=refresh-token-secret
JWT_REFRESH_TOKEN_EXPIRES_IN=1d